# Practice 1: CFA
1. Estimar o modelo de Mensuração da Qualidade Percebida, Satisfação e Lealdade.
2. Estimar a validade convergente: AVE e CONF COMPOSTA das dimensões
3. Estimar a validade discriminante (raiz quadrada da AVE x correlações)

In [15]:
import pandas as pd
import pyreadstat

df, meta = pyreadstat.read_sav("../data/EXERCICIO_2025.sav")
df.head()

,CASO,f1,f2,f3,f4,f5,f6,f7,P1.1_QA,P1.2_QA,...,P7,P14,ltv2,tempo,clsocial,SATIS,LEAL,ATEND,FIN,TEC
0,NaN,1.0,3.0,6.0,1.0,1.0,50.0,18.0,8.0,6.0,...,3.0,2.0,1373.0,61.0,5.0,6.50,6.2,7.2,9.333333,8.50
1,NaN,1.0,1.0,5.0,1.0,1.0,36.0,35.0,8.0,7.0,...,1.0,1.0,1002.0,47.0,5.0,5.50,4.4,6.8,6.666667,8.00
2,NaN,1.0,3.0,5.0,1.0,1.0,72.0,73.0,10.0,10.0,...,2.0,2.0,2097.0,83.0,5.0,7.50,8.0,9.6,10.000000,8.00
3,NaN,1.0,3.0,9.0,1.0,1.0,24.0,27.0,6.0,6.0,...,1.0,2.0,802.0,35.0,4.0,6.25,6.2,6.4,7.666667,6.50
4,NaN,1.0,4.0,9.0,1.0,1.0,72.0,24.0,2.0,5.0,...,2.0,1.0,4835.0,78.0,4.0,5.25,4.4,4.4,5.666667,5.75

In [16]:
cols = [
    'P1.1_QA', 'P1.2_QA', 'P1.3_QA', 'P1.4_QA', 'P1.5_QA',
    'P1.6_QC', 'P1.7_QC', 'P1.8_QC', 'P1.9_QC',
    'P1.10_QT', 'P1.11_QT', 'P1.12_QT', 'P1.13_QT', 'P1.14_QT',
    'P1.15_QA', 'P1.16_QA', 'P1.17_QA',
    'P3.1_S', 'P3.2_S', 'P3.3_S', 'P3.4_S',
    'P6.1_L', 'P6.2_L', 'P6.3_L', 'P6.4_L', 'P6.5_L', 'P6.6_L'
]

clean_df = df[cols].copy()

clean_df.rename(columns=lambda c: c.replace('.', '_'), inplace=True)
clean_df.rename(columns=lambda c: c.replace('C', 'F'), inplace=True)

## Modeling

In [17]:
from semopy import Model

# Atendimento = QA
# Financeiro = QF
# QualidadeTecnica = QT
# Satisfacao = S
# Lealdade = L

# QA =~ P1_1_QA + P1_2_QA + P1_3_QA + P1_4_QA + P1_5_QA + P1_15_QA + P1_16_QA + P1_17_QA
# QF =~ P1_6_QC + P1_7_QC + P1_8_QC + P1_9_QC
# QT =~ P1_10_QT + P1_11_QT + P1_12_QT + P1_13_QT + P1_14_QT
# S =~ P3_1_S + P3_2_S + P3_3_S + P3_4_S
# L =~ P6_1_L + P6_2_L + P6_3_L + P6_4_L + P6_5_L + P6_6_L

mod = """
QA =~ P1_1_QA + P1_2_QA + P1_4_QA + P1_5_QA + P1_16_QA
QF =~ P1_6_QF + P1_7_QF + P1_8_QF
QT =~ P1_10_QT + P1_11_QT + P1_12_QT + P1_13_QT
S =~ P3_1_S + P3_2_S + P3_3_S + P3_4_S
L =~ P6_1_L + P6_2_L + P6_3_L + P6_4_L + P6_6_L
"""

model = Model(mod)
model.fit(clean_df)

SolverResult(fun=np.float64(1.3095658107752683), success=np.True_, n_it=49, x=array([0.83202986, 1.12887925, 1.11258746, 0.73212528, 1.43133591,
       1.2702604 , 1.21792859, 1.02338448, 0.98463725, 0.86704513,
       1.04745496, 1.05052013, 1.39259208, 0.75221357, 0.95979285,
       1.38269225, 1.72724363, 2.39946638, 0.74884487, 1.04110441,
       1.58956029, 2.33950001, 1.38142362, 1.78616195, 2.34483694,
       1.77262613, 1.68881194, 1.17294823, 3.12269631, 0.69478794,
       0.6666218 , 0.49851347, 0.85387583, 1.15972362, 0.53491642,
       2.67422409, 0.98497061, 0.64435912, 2.75044738, 1.49259501,
       1.15391025, 1.31081318, 0.70911161, 0.9242533 , 0.83972482,
       0.92812229, 2.08640269, 1.02710364, 2.40291687, 1.39780374,
       1.74169302, 1.13403179]), message='Optimization terminated successfully', name_method='SLSQP', name_obj='MLW')

## Model Fit

$ \chi^{2} / df < 5$

CFI, GFI, TLI > 0.9

RMSEA < 0,08

In [18]:
from semopy import calc_stats

stats = calc_stats(model)
stats

,DoF,DoF Baseline,chi2,chi2 p-value,chi2 Baseline,CFI,GFI,AGFI,NFI,TLI,RMSEA,AIC,BIC,LogLik
Value,179,210,645.615945,0.0,7179.709335,0.933051,0.910078,0.894505,0.910078,0.921456,0.07279,101.380868,319.807345,1.309566

In [19]:
print("Default Model:", stats['chi2'] / stats['DoF'])
print("Independence Model:", stats['chi2 Baseline'] / stats['DoF Baseline'])

Default Model: Value    3.606793
dtype: float64
Independence Model: Value    34.189092
dtype: float64

## Parameter Estimates

In [20]:
estimates = (
    model.inspect(std_est=True)
         .query("op == '~' and lval.str.startswith('P')", engine='python')
)
estimates

        lval op rval  Estimate  Est. Std  Std. Err    z-value p-value
0    P1_1_QA  ~   QA  1.000000  0.815884         -          -       -
1    P1_2_QA  ~   QA  0.832030  0.718314  0.048964  16.992771     0.0
2    P1_4_QA  ~   QA  1.128879  0.774059  0.060441  18.677349     0.0
3    P1_5_QA  ~   QA  1.112587  0.810934  0.056167   19.80869     0.0
4   P1_16_QA  ~   QA  0.732125  0.621742  0.051383  14.248512     0.0
5    P1_6_QF  ~   QF  1.000000  0.661054         -          -       -
6    P1_7_QF  ~   QF  1.431336  0.834269  0.112274  12.748602     0.0
7    P1_8_QF  ~   QF  1.270260  0.635462  0.110626   11.48245     0.0
8   P1_10_QT  ~   QT  1.000000  0.681986         -          -       -
9   P1_11_QT  ~   QT  1.217929  0.897316   0.07116  17.115308     0.0
10  P1_12_QT  ~   QT  1.023384  0.822982  0.063291   16.16949     0.0
11  P1_13_QT  ~   QT  0.984637  0.748308  0.066045  14.908656     0.0
12    P3_1_S  ~    S  1.000000  0.880743         -          -       -
13    P3_2_S  ~    S  0.867045  0.854661  0.033276  26.055862     0.0
14    P3_3_S  ~    S  1.047455  0.917049  0.034825  30.077996     0.0
15    P3_4_S  ~    S  1.050520  0.869732  0.038936  26.980903     0.0
16    P6_1_L  ~    L  1.000000  0.773492         -          -       -
17    P6_2_L  ~    L  1.392592  0.928600  0.060035   23.19627     0.0
18    P6_3_L  ~    L  0.752214  0.517344  0.064603  11.643555     0.0
19    P6_4_L  ~    L  0.959793  0.785909  0.050955  18.836179     0.0
20    P6_6_L  ~    L  1.382692  0.914729  0.060651  22.797609     0.0

## Multicollinearity Check
$r_{XY} < 0.85$

In [21]:
latent_scores = model.predict_factors(clean_df)
correlation_matrix = latent_scores.corr()
correlation_matrix

           L        QA        QF        QT         S
L   1.000000  0.740839  0.537536  0.584895  0.725656
QA  0.740839  1.000000  0.565658  0.535584  0.733630
QF  0.537536  0.565658  1.000000  0.584271  0.593360
QT  0.584895  0.535584  0.584271  1.000000  0.549031
S   0.725656  0.733630  0.593360  0.549031  1.000000

## Validity and Reliability Analysis

$\lambda^2 > 0.2$

In [22]:
loadings = (
    model.inspect(std_est=True)
    .query("op == '~' and lval.str.startswith('P')", engine='python')
    .loc[:, ['lval', 'rval', 'Est. Std']]  # Item, Factor, lambda
    .rename(columns={'lval': 'Item', 'rval': 'Factor', 'Est. Std': 'lambda'})
)
loadings["lambdaˆ2"] = loadings["lambda"].apply(lambda x: x ** 2)
loadings["epsilon"] = loadings["lambdaˆ2"].apply(lambda x: 1 - x)
loadings

        Item Factor    lambda  lambdaˆ2   epsilon
0    P1_1_QA     QA  0.815884  0.665666  0.334334
1    P1_2_QA     QA  0.718314  0.515975  0.484025
2    P1_4_QA     QA  0.774059  0.599168  0.400832
3    P1_5_QA     QA  0.810934  0.657614  0.342386
4   P1_16_QA     QA  0.621742  0.386563  0.613437
5    P1_6_QF     QF  0.661054  0.436992  0.563008
6    P1_7_QF     QF  0.834269  0.696005  0.303995
7    P1_8_QF     QF  0.635462  0.403812  0.596188
8   P1_10_QT     QT  0.681986  0.465106  0.534894
9   P1_11_QT     QT  0.897316  0.805177  0.194823
10  P1_12_QT     QT  0.822982  0.677300  0.322700
11  P1_13_QT     QT  0.748308  0.559965  0.440035
12    P3_1_S      S  0.880743  0.775709  0.224291
13    P3_2_S      S  0.854661  0.730446  0.269554
14    P3_3_S      S  0.917049  0.840980  0.159020
15    P3_4_S      S  0.869732  0.756433  0.243567
16    P6_1_L      L  0.773492  0.598290  0.401710
17    P6_2_L      L  0.928600  0.862298  0.137702
18    P6_3_L      L  0.517344  0.267645  0.732355
19    P6_4_L      L  0.785909  0.617652  0.382348
20    P6_6_L      L  0.914729  0.836729  0.163271

### Convergent Validity
$AVE \geq 0.5$
#### Average Variance Extracted (AVE)
Simplified formula

$\text{AVE} = \frac{\displaystyle\sum \lambda^{2}}{\displaystyle\sum \lambda^{2} + \sum \epsilon}$

In [23]:
factors = loadings['Factor'].unique().tolist()
items = loadings['Item'].unique().tolist()

In [24]:
import numpy as np
AVE = pd.DataFrame()
for factor_name in factors:
    factor_df = loadings.query(f"Factor == '{factor_name}'").copy()
    factor_AVE = factor_df['lambdaˆ2'].sum() / (factor_df['lambdaˆ2'].sum() + factor_df['epsilon'].sum())
    factor_AVE_sqrt = np.sqrt(factor_AVE)
    new_row = pd.DataFrame({'Factor': [factor_name], 'AVE': [factor_AVE], 'sqrt_AVE': [factor_AVE_sqrt]})
    AVE = pd.concat([AVE, new_row], ignore_index=True)
AVE

  Factor       AVE  sqrt_AVE
0     QA  0.564997  0.751663
1     QF  0.512270  0.715730
2     QT  0.626887  0.791762
3      S  0.775892  0.880847
4      L  0.636523  0.797824

### Composite Reliability (CR)
$CR \geq 0.7$

Simplified formula:

$\text{CR} =\frac{\displaystyle\left(\sum \lambda\right)^{2}}{\displaystyle\left(\sum \lambda\right)^{2} + \sum \epsilon}$

In [25]:
CR = pd.DataFrame()
for factor_name in factors:
    factor_df = loadings.query(f"Factor == '{factor_name}'").copy()
    factor_CR = (factor_df['lambda'].sum())**2 / ((factor_df['lambda'].sum())**2 + factor_df['epsilon'].sum())
    new_row = pd.DataFrame({'Factor': [factor_name], 'CR': [factor_CR]})
    CR = pd.concat([CR, new_row], ignore_index=True)
CR

  Factor        CR
0     QA  0.865487
1     QF  0.756274
2     QT  0.869297
3      S  0.932610
4      L  0.894242

### Cronbach’s Alpha
$\alpha \geq 0.7$

$\alpha = \frac{k}{k - 1} \left(1 - \frac{\sum_{i=1}^{k} \sigma_i^2}{\sigma_T^2}\right)$


$k$ = number of items

$\sigma_i^2$ = variance of item i

$\sigma_T^2$ = variance of the total score (sum of all items)

In [26]:
alpha_df = pd.DataFrame()
filtered_df = clean_df[items].copy()
for factor_name in factors:
    factor_df = filtered_df[[col for col in filtered_df.columns if col.endswith(factor_name)]].copy()

    variances = [np.var(factor_df[col], ddof=1) for col in factor_df.columns]
    total_variance = sum(variances)

    k = len(factor_df.columns)

    total_score_vector = factor_df.sum(axis=1)

    alpha = k / (k - 1) * (1 - (total_variance / np.var(total_score_vector, ddof=1)))

    new_row = pd.DataFrame({'Factor': [factor_name], 'alpha': [alpha], 'k': [k]})
    alpha_df = pd.concat([alpha_df, new_row], ignore_index=True)
alpha_df

  Factor     alpha  k
0     QA  0.860397  5
1     QF  0.727035  3
2     QT  0.859802  4
3      S  0.930651  4
4      L  0.890034  5

### Discriminant Validity
$\sqrt{\text{AVE}} > |\text{correlação com outros fatores}|$

In [27]:
merged_df = AVE.merge(CR, on='Factor', how='left').merge(alpha_df, on='Factor', how='left')
merged_df

  Factor       AVE  sqrt_AVE        CR     alpha  k
0     QA  0.564997  0.751663  0.865487  0.860397  5
1     QF  0.512270  0.715730  0.756274  0.727035  3
2     QT  0.626887  0.791762  0.869297  0.859802  4
3      S  0.775892  0.880847  0.932610  0.930651  4
4      L  0.636523  0.797824  0.894242  0.890034  5

In [28]:
correlation_matrix

           L        QA        QF        QT         S
L   1.000000  0.740839  0.537536  0.584895  0.725656
QA  0.740839  1.000000  0.565658  0.535584  0.733630
QF  0.537536  0.565658  1.000000  0.584271  0.593360
QT  0.584895  0.535584  0.584271  1.000000  0.549031
S   0.725656  0.733630  0.593360  0.549031  1.000000